main{
    width: 100vw;
    height: 100vh;
    background-image: url('../../assets//img/loginUAEM.jpg');
    background-size: 100%;
}

.login-background{
    border-radius: 20px;
    background-image: url('../../assets//img/loginUAEM.jpg');
    background-size: 100%;
}