<div class="col-10 m-auto mt-5 mb-2">
  <mat-card class="header-student">
    <mat-card-header>
      <mat-card-title>Home</mat-card-title>
    </mat-card-header>
  </mat-card>
</div>
    
<div class="col-10 m-auto">
  <img class="img-fluid w-100" src="../../../../assets/img/home.jpg" alt="UAEMex">
</div> 

<div class="col-10 m-auto">
  <mat-card>
    <mat-card-header class="m-auto">
      <mat-card-title>
        <mat-icon>copyright</mat-icon>
        2023 Omar Uriel Jiménez FLores
      </mat-card-title>
    </mat-card-header>
  </mat-card>
</div>

