<mat-toolbar color="primary">
    <!-- <button mat-icon-button (click)="drawer.toggle()">
      <mat-icon>menu</mat-icon>
    </button> -->
    <span *ngIf="!student">UAEMex</span>
    <span *ngIf="student">Alumnos</span>
    <span class="example-spacer"></span>
    <button mat-icon-button (click)="logout()">
      <mat-icon>logout</mat-icon>
    </button>
</mat-toolbar>
  
<mat-drawer-container class="example-container">
  <mat-drawer mode="side" opened>
    <app-sidenav></app-sidenav>
  </mat-drawer>
 
  <div>
    <router-outlet></router-outlet>
  </div>
</mat-drawer-container>